body {
  background-color: #222;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
/*  background-image: url('../img/bg-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
  margin: 0;
  padding-top: 150px;
  /*padding: 0;*/
  height: 100%;
  width: 100%;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:visited {
  /*text-decoration: underline;*/
  border-bottom: 1px solid #6af;
}

header {
  padding: 5px;
  font-family: 'Tauri', sans-serif;
  /*letter-spacing: 1.5px;*/
  position: fixed;
  margin: 0;
  width: 100%;
  height: 50px;
  top: 0;
  transition: top 0.2s ease-in-out;
  background-color: #25a;
  z-index: 2;
}

header #name {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-align: left;
  color: white;
}

header #title {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  text-align: right;
}

.nav-up {
  top: -150px;
}

/*.nav {
  position: -webkit-sticky;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 1%;
  background-color: rgba(60,180,255,.7);
  z-index: 1;
}*/

.nav {
  background-color: #6af;
  /*background-color: #333;*/
  position: fixed;
  top: 18%;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

.fixed {
  position: fixed;
  top: 0;
}

.nav ul {
}

.nav li {
  display: inline-block;
  animation: squeeze .5s ease-out reverse;
}

.nav li:hover {
  animation: spread .5s ease-out forwards;
}

.sticky {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  border-top: 0;
}

main {
  position: absolute;
  /*margin: 0 auto;*/
  /*text-align: center;*/
  top: 10%;
  padding: 1%;
  width: 100%;
  height: 100%;
  /*background-color: rgba(200,200,200,.6);*/
  z-index: -1;
}

.mids {
  position: relative;
  /*background-color: rgba(100,100,100,.4);*/
  margin: 5% auto;
  width: 85%;
  max-width: 85%;
  height: auto;
}

.mids img {
  width: 100%;
  height: auto;
}

#about {
  margin: 10% auto;
  padding: 2%;
  background-color: rgba(50,50,50,.9);
  border-radius: 5px;
  /*max-width: 650px;*/
  font-family: Garamond, Times New Roman, serif;
}

#projects {
  background-color: rgba(50,50,50,.9);
  border-radius: 5px;
  padding: 1%;
  height: 100%;
  /*max-width: 80%;*/
}

#contact {
  background-color: rgba(50,50,50,.9);
  font-family: Garamond, Times New Roman, serif;
  border-radius: 5px;
  padding: 2%;
  margin: 10% auto;
}

.web-projects {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  padding: 2% 1%;
  height: 100%;
}

.l-col {
  flex-basis: 100%;
    width: 50%;
  padding: 2%;
}
.r-col {
  flex-basis: 100%;
    width: 50%;
  padding: 2%;
}

.web-projects .web-project {
  background-color: rgba(50,50,50,.9);
  border-radius: 5px;
  height: 40%;
  overflow: scroll;
  padding: 5% 2%;
  margin: 7% 1%;
}

.web-projects .web-project .web-project-info {
  padding: 5%;
  font-family: Garamond, Times New Roman, serif;
}

.web-project a > img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.git-icon {
  width: 20px;
  height: auto;
  visibility: hidden;
}

.show-git {
  visibility: visible;
}

.hide-git {
  visibility: hidden;
}

span {
  color: #6af;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  margin: 0 auto;
  padding: .5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  max-height: 50px;
  background-color: rgba(50,50,50,1);
  z-index: 0;
}

.footer-banner {
  margin: 1% 0 0 1%;
  position: absolute;
  left: 0;
}

footer ul {
  text-align: center;

}

footer li {
  text-decoration: none;
  display: inline-block;
  animation: squeeze .5s ease-out reverse;
}

footer li:hover {
  animation: spread .5s ease-out forwards;
}

footer img {
  width: 25px;
  height: auto;

}

@keyframes spread {
  0%   {padding: 0 5%;}
  100% {padding: 0 10%;}
}

@keyframes squeeze {
  100% {padding: 0 10%;}
  0%   {padding: 0 5%;}
}

@keyframes info {
  from {visibility: hidden;}
  to {visibility: visible;}
}
